.button_join_enter
{
    -fx-background-image: url("../images/Button_image/button_join_enter.png");
    -fx-background-size: cover;
}

.button_2
{
    -fx-background-image: url("../images/Button_image/button_2.png");
    -fx-background-size: cover;
}

.button_3
{
    -fx-background-image: url("../images/Button_image/button_3.png");
    -fx-background-size: cover;
}

.button_4
{
    -fx-background-image: url("../images/Button_image/button_4.png");
    -fx-background-size: cover;
}

.button_create_game_enter
{
    -fx-background-image: url("../images/Button_image/button_create_game_enter.png");
    -fx-background-size: cover;
}

.button_joinId_enter {
    -fx-background-image: url("../images/Button_image/button_joinID_enter.png");
    -fx-background-size: cover;
}

.button_reconnect_enter {
    -fx-background-image: url("../images/Button_image/button_reconnect_enter.png");
    -fx-background-size: cover;
}

.button_text {
    -fx-background-image: url("../images/Button_image/button_text.png");
    -fx-background-size: cover;
}

.button_text_small {
    -fx-background-image: url("../images/Button_image/button_text_small.png");
    -fx-background-size: cover;
}

.button_text_gold {
    -fx-background-image: url("../images/Button_image/button_text_gold.png");
    -fx-background-size: cover;
}

.button_ready {
    -fx-background-image: url("../images/Button_image/button_ready.png");
    -fx-background-size: cover;
}

.button_text_reverse {
    -fx-background-image: url("../images/Button_image/button_text_rev.png");
    -fx-background-size: cover;
}


.button_2:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_3:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_4:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_2.clicked
{
    -fx-border-color: #24A0ED;
    -fx-effect: dropshadow(gaussian, rgba(20,100,255,0.8), 10, 0.5, 0, 0);
    -fx-border-width: 3px;
}

.button_3.clicked
{
    -fx-border-color: #24A0ED;
    -fx-effect: dropshadow(gaussian, rgba(20,100,255,0.8), 10, 0.5, 0, 0);
    -fx-border-width: 3px;
}

.button_4.clicked
{
    -fx-border-color: #24A0ED;
    -fx-effect: dropshadow(gaussian, rgba(20,100,255,0.8), 10, 0.5, 0, 0);
    -fx-border-width: 3px;
}

.button_create_game_enter:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_join_enter:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_joinId_enter:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_reconnect_enter:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_ready:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_text_small:hover
{
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}

.button_text_2 {
    -fx-background-image: url("../images/Button_image/button_text_gold.png");
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #591616;
}

.button_chat {
    -fx-background-image: url("../images/Button_image/button_text_gold.png");
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #591616;
}

.button_infoRuleBookScore {
    -fx-background-image: url("../images/Button_image/button_text_gold.png");
    -fx-background-size: cover;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #591616;
}