.button
{
    -fx-background-image: url("../images/Button_image/button_reconnect.png");
    -fx-background-size: cover;
}

.button:hover
{
    -fx-background-image: url("../images/Button_image/button_reconnect.png");
    -fx-background-size: cover;
    -fx-border-color: #24A0ED;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(36,160,237,0.8), 10, 0.5, 0, 0);
}