.root{
    -fx-background-image: url("../images/Background_image/background_complete.jpg");
    -fx-background-size: cover;
}

.background-red{
    -fx-background-image: url("../images/Background_image/red.jpeg");
    -fx-background-size: cover;
}

.background-green{
    -fx-background-image: url("../images/Background_image/green1.jpeg");
    -fx-background-size: cover;
}

.background-blue{
    -fx-background-image: url("../images/Background_image/blue.jpeg");
    -fx-background-size: cover;
}

.background-purple{
    -fx-background-image: url("../images/Background_image/purple2.jpeg");
    -fx-background-size: cover;
}

.background-ready {
    -fx-background-image: url("../images/Codex_image/CODEX_cards_back/100.png");
    -fx-background-size: cover;
}

.background-wood {
    -fx-background-image: url("../images/Background_image/wood.jpeg");
    -fx-background-size: cover;
}

.background-board {
    -fx-background-image: url("../images/Background_image/board_sfondo.jpeg");
    -fx-background-size: cover;
}

.background-buttons {
    -fx-background-color: #ada250;
    -fx-background-size: cover;
}

.background-final {
    -fx-background-image: url("../images/Background_image/sfondo_gioco.png");
    -fx-background-size: cover;
}

.winners-scroll {
    -fx-background-image: url("../images/Background_image/scroll.png");
    -fx-background-size: cover;
}

.text_background_white {
    -fx-background-color: white;
}
